*{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.news {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 10px 8px;
    font-family: sans-serif;
     /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(234, 234, 234);
    border: 1px solid gray;
    box-sizing: border-box;
    min-height: 500px; 
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


.card h2 {
    text-align: center;
    font-style: italic;
}

.card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
}

.card a, .card button {
    margin-top: auto;
}

.card button {
    border: none;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    width: 95%;
    text-align: center;
    color: white;
}

.card button:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
}

.api {
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin: 30px auto;
    font-size: 40px;
    border: 2px solid black;
    width: 30%;
    margin-top: 39px;
    transition: 0.3s;
    cursor: pointer;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.api:hover {
    border-radius: 15px;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .news {
        justify-content: center;
    }
    .card {
        width: 90%;
        min-height: auto;
    }
}
.news-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.news-header .api{
    color: red;
    /* width: 70%; */
}
/* .news-header .field input{
    width: 300px;
    padding: 8px;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.search-container {
  position: relative;     
  width: 300px;            
}

.search-container input {
  width: 100%;
  padding: 8px 35px 8px 10px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  /* cursor: pointer; */
}

.search-container .search-icon {
  position: absolute;
  right: 10px;           
  top: 50%;
  transform: translateY(-50%); 
  color: #555;
  font-size: 18px;
  pointer-events: auto;
  cursor: pointer;    
}
